.loader {
    height: 30px;
    width: 100% !important;
    min-width: 75px;
    border-radius: var(--border-radius);
    background: linear-gradient(45deg, #ffffff35 10%, #ffffff55 45%, #ffffff55 55%, #ffffff35 90%);
    background-size: 200% 100%;
    animation: Loader 2000ms infinite linear;
}
.card.loader:first-of-type {
    height: 64px;
}

@keyframes Loader {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}
