.tip {
    background-color: var(--color-secondary-alt);
    padding: var(--spacing-md);
    border-radius: var(--border-radius);
    width: 100%;
    max-width: calc(var(--spacing-xxl) * 12);
    margin: 0 auto;
}

.tip h2 {
    color: var(--color-primary);
    margin-bottom: var(--spacing-xs);
}

.tip a{
    display: block;
    font-style: italic;
    font-size: var(--font-size-sm);
    margin-top: var(--spacing-xs);
}
