@font-face {
    font-family: "Quicksand";
    src: url("/fonts/Quicksand-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Quicksand";
    src: url("/fonts/Quicksand-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
