.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-md);
    margin: var(--spacing-xl) auto;
    max-width: calc(var(--spacing-xl) * 10);
}

.feedback textarea {
    width: 100%;
}
