:root {
	--color-primary-1: oklch(98.4% 0.003 247.858);
	--color-primary-1-transparent: oklch(98.4% 0.003 247.858 / 0.5);
	--color-primary-2: oklch(92.9% 0.013 255.508);
	--color-primary-2-transparent: oklch(92.9% 0.013 255.508 / 0.5);
	--color-primary-3: oklch(70.4% 0.04 256.788);
	--color-primary-3-transparent: oklch(70.4% 0.04 256.788 / 0.5);
	--color-primary-4: oklch(44.6% 0.043 257.281);
	--color-primary-4-transparent: oklch(44.6% 0.043 257.281 / 0.5);
	--color-primary-5: oklch(27.9% 0.041 260.031);
	--color-primary-5-transparent: oklch(27.9% 0.041 260.031 / 0.5);
	--color-primary-6: oklch(12.9% 0.042 264.695);
	--color-primary-6-transparent: oklch(12.9% 0.042 264.695 / 0.5);

	--color-secondary-1: oklch(98.7% 0.022 95.277);
	--color-secondary-1-transparent: oklch(98.7% 0.022 95.277 / 0.5);
	--color-secondary-2: oklch(92.4% 0.12 95.746);
	--color-secondary-2-transparent: oklch(92.4% 0.12 95.746 / 0.5);
	--color-secondary-3: oklch(82.8% 0.189 84.429);
	--color-secondary-3-transparent: oklch(82.8% 0.189 84.429 / 0.5);
	--color-secondary-4: oklch(66.6% 0.179 58.318);
	--color-secondary-4-transparent: oklch(66.6% 0.179 58.318 / 0.5);
	--color-secondary-5: oklch(47.3% 0.137 46.201);
	--color-secondary-5-transparent: oklch(47.3% 0.137 46.201 / 0.5);
	--color-secondary-6: oklch(27.9% 0.077 45.635);
	--color-secondary-6-transparent: oklch(27.9% 0.077 45.635 / 0.5);

	--spacing-1: 4px;
	--spacing-2: 8px;
	--spacing-3: 12px;
	--spacing-4: 16px;
	--spacing-5: 24px;
	--spacing-6: 32px;
	--spacing-7: 40px;

	--font-size-1: 12px;
	--font-size-2: 16px;
	--font-size-3: 24px;
	--font-size-4: 32px;
	--font-size-5: 40px;

	--border-radius-1: 4px;
	--border-radius-2: 8px;
	--border-radius-3: 16px;
	--border-radius-full: 2500px;

	--transition: 125ms ease;
}
