*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: "QuickSand", sans-serif;
    letter-spacing: 1px;
    line-height: 1.6;
    background: linear-gradient(var(--color-bg-top), var(--color-bg-bottom));
}

body {
    min-height: 100dvh;
    overscroll-behavior: none;
    font-size: var(--font-size-sm);
    color: var(--color-secondary);
}

main,
header,
footer {
    padding: var(--spacing-md);
}

h1,
h2,
h3,
h4,
h5 {
    letter-spacing: 0.5px;
    line-height: 1.2;
    overflow-wrap: break-word;
}

p {
    max-width: 75ch;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
    font-size: var(--font-size-sm);
    background-color: var(--color-secondary-15);
    border: none;
    border-radius: var(--border-radius);
    padding: var(--spacing-xs) var(--spacing-sm);
    resize: none;
}

input[type="submit"],
button {
    background-color: transparent;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    line-height: 1;
}

hr {
    color: var(--color-secondary-15);
    margin: calc(var(--spacing-xl) * 1.5) 0;
}

.spinner,
.bar {
    will-change: translate, rotate, opacity;
}


