:root {
    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-md: 18px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 50px;

    --color-primary: #fabb46;
    --color-primary-alt: #be9645;
    --color-secondary: #90aec4;
    --color-secondary-alt: #122e45;
    --color-secondary-15: #90aec427;

    --color-bg-top: #0b2d48;
    --color-bg-bottom: #001a2d;

    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-md: 18px;
    --font-size-lg: 24px;
    --font-size-xl: 32px;
    --font-size-xxl: 50px;

    --border-radius: 10px;
}
